body {
 width: 100%;
  height: 100vh;
background:#161625 !important;
margin: 0;
font-family: 'Roboto Slab', serif;
}
h1{
	color:white;
}


table {
	padding-left: 11em;    
    line-height: 2em;
    font-size: 1.5em;
    padding-top: 1em;
    color: white;
}


.size-30 {
font-size: 30px;
}
