@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.footer h2 {
    position: fixed;
    left: 0;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    color: white;
    font-size: 58px;
}
body {
 width: 100%;
  height: 100vh;
background:#161625 !important;
margin: 0;
font-family: 'Roboto Slab', serif;
}

.india{
    position: inherit;
    color: white;
    margin-left: 55em;
    margin-bottom: -7em;
    
}
.form-control {
	
	margin-left:100px;
	

}
.body_home{
 /* margin-left:200px;*/	
  
  
	
}

.display-4 {
   font-size:20px;
    line-height: 1.2;
    color: whitesmoke; 
    padding: 0.875em 0;
   
}

table {

     border-collapse: collapse;
    color: whitesmoke;
    width: 40%;
    margin-left: 132px;
  
  }


th, td {
  padding: 8px;
  text-align: left;
  
}



 table tr td.hname:hover {
       background-color:  #66a3ff;
     font-weight:bold;
      color:black;
  
  }
  
  
   table tr td.hactive:hover {
    background-color:  #66a3ff;
     font-weight:bold;
      color:black;
  
  }
   table tr td.hcured:hover {
    background-color:   #80ff80;
    font-weight:bold;
     color:black;
  
  }
   table tr td.hdeath:hover {
    background-color: #ff8080;
     font-weight:bold;
     color:black;
  
  }
  table tr td.htotal:hover {
  background-color:  #66a3ff;
     font-weight:bold;
      color:black;
  }
  /* 
 Navigation Bar */
 .main-c {
 /*overflow:hidden;*/
 position:relative;
 width:100%;
 }
  
 .main-c .nav-c, .main-c .content-c {
 float: left;
display: block;

 }
 
 .main-c .nav-c {
  	width: 20%;
  }
  .main-c .content-c {
  float:right;
  width:80%;
  }
  
 .content-c .row {
 	margin: 0;
 }
 .table {
     background: #1e1e30!important;
	width: 80%;
    text-align: center;
    color: #fefefe;
    padding: 0 0.5em;
    margin: 0 auto;
}
.row1 .col {
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
.col  {
	padding: 0.5em;
	border: 5px solid #161625 !important}
.row .col:first-child:hover,.row .col1.selected {
	background: #fefefe;
	color: #000;
	cursor: pointer;
}
.form-group input {margin: 0;}
.row form {width:100%;}
.form-group .tb-c {margin: 0 auto;}
#myChart {
	display: block;
 	width: 200px;
    height: 200px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    z-index: 9999;
    border-radius: 10px;
} 


.contact_body {
	background:#1e1e30;
    margin-left: 140px;
	margin-bottom: 0px;
	font-size: 16px;
	padding: 69px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	background: #161625 !important;}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.wrapper2 h1 {

     margin-left: 43%;
    font-size: 29px;
    color: white;
    font-weight: lighter;
        font-weight: 600;
}

.wrapper2 h3 {

       margin-left: 2em;
    font-size: 65px;
    color: #006dcc;
    font-weight: 100;
    margin-right: 60px;
}


.dash {
	background:white;
}

.map{
	position: relative;
    margin-top: -5em;
}


	
	.div-active:hover {
	background:rgba(255, 74, 61,0.2);
	height:13rm;
	cursor:pointer;
	}

	
	.div-cured:hover {
	  background:rgba(131, 252, 141,0.2);
	  cursor:pointer;
	}
	
	.div-death:hover {
	background:rgba(255, 56, 56,0.2);
	cursor:pointer;
	}