
body {

  width: 100%;
  height: 100vh;
  font-family: 'agency fb';
  background-color: #161625 !important;;
  background-position: 100%;
  margin:0;

  
  
  
}







.text {
  position: absolute;
  top: 25%;
  right: 180px;
  transform: translateY(-50%);
  text-align: right;
  color: whitesmoke;
}

.text .title {
  font-size: 150px;
}

.watchnow {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  background:  #006dcc;
  padding: 30px 180px 30px 30px;
}

.watchnow a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid whitesmoke;
  padding-bottom: 5px;
}

.fa-play {
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.media {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}



.ellipse-container {
  width: 608px;
  height: 608px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
}

.ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse.thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #006dcc;
  opacity: .5;
}

.ellipse.thick {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #fff;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse.yellow {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #006dcc transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
  animation: ellipseRotate 15s ease-in-out infinite;
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

.circle1,
.circle2 {
  border-style: solid;
  width: 64px;
  height: 64px;
  border-width: 1px;
  border-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 150px;
  left: 150px;
}

.circle2 {
  bottom: 150px;
  right: 130px;
}

.circle1::before,
.circle1::after,
.circle2::before,
.circle2::after {
  content: '';
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1::before,
.circle2::before {
  width: 12px;
  height: 12px;
  background:whitesmoke;
  z-index: 1;
}

.circle1::after,
.circle2::after {
  width: 40px;
  height: 40px;
  background: #006dcc ;
}

.circle1 span,
.circle2 span {
  position: absolute;
  top: 25px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}

.circle1 span {
  left: 75px;
}

.circle2 span {
  left: -110px;
}

.overlay {
  position: absolute;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  background:  #262840;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-size: 100px;
  letter-spacing: 20px;
}

.overlay span {
  font-size: 30px;
  letter-spacing: 3px;
}



/*
.wrapper1{
  display: flex;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width:8%;
}

.wrapper1 .sidebar{
       width: auto;
       height: 100%;
    background: #32344a;
    padding: 30px 0px;
    position: fixed;

 
}

.wrapper1 .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 33px;
  margin-top:0px;
}

.wrapper1 .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper1 .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper1 .sidebar ul li a .fas{
  width: 25px;
}

.wrapper1 .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper1 .sidebar ul li:hover a{
  color: #fff;
}
 
*/
.questions {

  font-size: 20px;
  font-family: 'Muli', sans-serif;
  color: whitesmoke;
  margin-left: 25%;
  margin-top: 50%;
  margin-right: 10%;
}

.questions p {
	    color: #006dcc;
    font-weight: bolder;
    font-style: oblique;
}



.fever {
  font-family: 'Muli', sans-serif;
  background-color: #32344a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  color: whitesmoke;
  margin-left: 25%;
}

.fever:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cough {
  font-family: 'Muli', sans-serif;
  background-color: #32344a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  color: whitesmoke;
  margin-left: 50%;

}

.cough:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.nav-c {
	width: 20%;
}